page-rants-page {

.item .label-md {
    margin: 0 !important;
}

.item .item-inner {
    padding: 0 !important;
}

.no-padding {
    padding: 0px !important;
}

.loading_spinner {
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
}

}
