notification-component {

p {
    overflow: inherit;
    margin: 0 0 2px;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
}

.item-inner {
    margin-left: 5px !important;
}
}
