rant-component {
.buttons_background {
    background-color: #f5f5f5;
}
.rant_image {
    border-radius: 4px;
    margin-top: 5px;
    max-width: 95%;
    margin: auto;
    display: block;
}

.rant_avatar {
   // background-color: #488aff;
}
p {
    overflow: inherit;
    margin: 0 0 2px;
    font-size: 1.4rem;
    line-height: normal;
    text-overflow: inherit;
    color: #666;
}
}
